exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "dev.new")
importFrom("graphics", "abline", "par", "plot", "title")
importFrom("stats", "qt", "sd")
importFrom("grDevices", "colorRampPalette")

